/* --- SCSSをコンパイルして生成されたCSSの例 --- */

#bg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
    background: #123;
    /* 背景色 */
    color: transparent;
}

#bg::before,
#bg::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

#bg::before {
    /* ここにランダムなtext-shadowが大量に生成される */
    text-shadow:
        1em 1em 7px hsla(250, 100%, 50%, .9),
        /* ... 40個のランダムな影設定 ... */
        1em 1em 7px hsla(120, 100%, 50%, .9);
    animation-duration: 44s;
    animation-delay: -27s;
}

#bg::after {
    /* ここにランダムなtext-shadowが大量に生成される */
    text-shadow:
        1em 1em 7px hsla(300, 100%, 50%, .9),
        /* ... 40個のランダムな影設定 ... */
        1em 1em 7px hsla(180, 100%, 50%, .9);
    animation-duration: 43s;
    animation-delay: -32s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }

    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}